<span class="titulo-md">Top 5 Artistas</span>
<app-artista-item-list
  *ngFor="let artista of artistas"
  [fotoArtistaSrc]="artista.imagemUrl"
  (click)="irParaArtista(artista.id)"
>
  {{ artista.nome }}
</app-artista-item-list>
<app-artista-item-list
  *ngFor="let artista of artistas"
  [fotoArtistaSrc]="artista.imagemUrl"
  (click)="irParaArtista(artista.id)"
>
  {{ artista.nome }}
</app-artista-item-list>
<app-artista-item-list
  *ngFor="let artista of artistas"
  [fotoArtistaSrc]="artista.imagemUrl"
  (click)="irParaArtista(artista.id)"
>
  {{ artista.nome }}
</app-artista-item-list>
