@import 'variaveis.scss';
@import 'table.scss';

:host {
  display: flex;
  justify-content: space-between;

  ::-webkit-scrollbar {
    width: 7px;

    &-thumb {
      background-color: rgba($cor-secundaria, .2);
      border-radius: 5px;
    }

    &-track {
      background-color: transparent;
    }
  }

  .minhas-musicas {
    padding: 0px 50px;
    padding-bottom: 20px;
    width: 100%;
    max-height: 100vh;
    overflow-y: scroll;
  }

  .d-block {
    display: block;
  }

}
