<div class="menus flex">
  <div class="image-container flex flex-center">
    <img src="assets/images/spotify-logo.png" alt="" srcset="" />
  </div>

  <div class="menu-container flex opcoes">
    <app-botao-menu
      [descricao]="'Início'"
      [selecionado]="menuSelecionado === 'Início'"
      (click)="menuOnClick('Início')"
    >
      <fa-icon [icon]="homeIcon"></fa-icon>
    </app-botao-menu>

    <app-botao-menu
      [descricao]="'Buscar'"
      [selecionado]="menuSelecionado === 'Buscar'"
      (click)="menuOnClick('Buscar')"
    >
      <fa-icon [icon]="searchIcon"></fa-icon>
    </app-botao-menu>

    <app-botao-menu
      [descricao]="'Artistas'"
      [selecionado]="menuSelecionado === 'Artistas'"
      (click)="menuOnClick('Artistas')"
    >
      <fa-icon [icon]="artistIcon"></fa-icon>
    </app-botao-menu>
  </div>

  <div class="menu-container">
    <span class="playlist-titulo"> playlists </span>

    <div class="playlist-scroll">
      <app-botao-menu
        *ngFor="let playlist of playlists"
        [descricao]="playlist.nome"
        [selecionado]="menuSelecionado == playlist.id"
        (click)="menuOnClick(playlist.id)"
      >
        <fa-icon [icon]="playlistIcon"> </fa-icon>
      </app-botao-menu>

      <app-botao-menu
        *ngFor="let playlist of playlists"
        [descricao]="playlist.nome"
        [selecionado]="menuSelecionado == playlist.id"
        (click)="menuOnClick(playlist.id)"
      >
        <fa-icon [icon]="playlistIcon"> </fa-icon>
      </app-botao-menu>
    </div>
  </div>
</div>
<div class="usuario-info"></div>
