@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import 'variaveis.scss';

html, body {
  margin: 0;
  padding: 0;
  background-color: $cor-fundo;

  span {
    color: $cor-secundaria;
  }

}

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box; //controla o padding sem aumentar o tamanho do componente pai
  // color: $cor-secundaria;
}

.flex {
  display: flex;

  &-center {
    justify-content: center;
    align-items: center;
  }
}

.titulo {
  color: $cor-primaria;
  display: block;
  font-weight: bold;

  &-bg { //titulo-bg
    @extend .titulo;
    font-size: 2.2rem;
  }

  &-md {
    @extend .titulo;
    font-size: 1.4rem;
  }
}

.mt {
  @for $i from 1 to 10 {
    &-#{ $i } {
      margin-top: #{ $i }vh;
    }
  }
}

.p-20 {
  padding: 20px;
}

.card {
  box-shadow: 0px 0px 10px $cor-box-shadow;
  background-color: $cor-fundo-card;
  border-radius: 5px;
}
