@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import 'variaveis.scss';

html, body {
  margin: 0;
  padding: 0;
  background-color: $cor-fundo;

  span {
    color: $cor-secundaria;
  }

}

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box; //controla o padding sem aumentar o tamanho do componente pai
  // color: $cor-secundaria;
}

.flex {
  display: flex;

  &-center {
    justify-content: center;
    align-items: center;
  }
}
